html {
  scroll-behavior: smooth;
}

body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

footer {
  color: white;
  background-color: #262a53;
}

footer a {
  text-decoration: none;
}

section {
  padding-top: 6rem;
}
